.custom-phone-input {
    width: 100%;
}

.custom-phone-input .PhoneInputCountry {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 10;
}

/* Ensure the input has space for the flag */
.custom-phone-input .PhoneInputInput {
    padding-left: 55px !important;
}